<%= render 'shared/header' %>

<h1>施設登録</h1>
<%= form_with(model: @room, local: true) do |form| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= @room.errors.count %>件のエラーにより登録できませんでした</h2>
      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "施設名" %><span class="required">*</span>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :detail, "施設詳細" %><span class="required">*</span>
    <%= form.text_area :detail, required: true %>
  </div>

  <div class="field">
    <%= form.label :price, "料金" %><span class="required">*</span>
    <%= form.text_field :price, required: true %>
  </div>

  <div class="field">
    <%= form.label :address, "住所" %><span class="required">*</span>
    <%= form.text_field :address, required: true %>
  </div>

  <div class="field">
    <%= form.label :image, "施設画像" %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>
  <%= link_to "キャンセル", :back %>
<% end %>