<%= render 'shared/header' %>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>料金</th>
      <th>作成日</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= image_tag 'hotel.png' %></td>
        <td><%= link_to room.name, room %></td>
        <td><%= room.detail %></td>
        <td><%= room.price %></td>
        <td><%= room.created_at.strftime("%Y-%m-%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>