<%= render 'shared/header' %>
<%= render 'shared/search' %>
<h1>施設詳細</h1>
<%= link_to "戻る", :back %>

<div>
  <%= image_tag 'hotel.png' %>
  <h2><%= @room.name %></h2>
  <p><%= @room.address %></p>
  <p><%= @room.detail %></p>
  <p>宿泊料金（/日）: <%= @room.price %>円</p>
</div>

<%= form_with(model: @reservation, url: reservations_path) do |form| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= @reservation.errors.count %>件のエラーにより予約できませんでした</h2>
      <ul>
        <% @reservation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :room_id, value: @room.id %>
  <% if user_signed_in? %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <%= form.hidden_field :total_price, value: @room.price %>
  <div class="field">
    <%= form.label :check_in, "チェックイン" %>
    <%= form.date_field :check_in, required: true %>
  </div>

  <div class="field">
    <%= form.label :check_out, "チェックアウト" %>
    <%= form.date_field :check_out, required: true %>
  </div>

  <div class="field">
    <%= form.label :num_of_guests, "人数" %>
    <%= form.text_field :num_of_guests, required: true %>
  </div>

  <%= form.submit "予約する" %>
<% end %>